name: Release

on:
  push:
    tags:
      - v[0-9]+.*

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  release-wasm-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
      - name: Install wasm-pack
        run: cargo install wasm-pack
      - name: Build WASM package
        run: wasm-pack build --target nodejs --scope apollo --out-name qp-analyzer
        working-directory: crates/wasm
      - name: Fix package json
        run: node scripts/fix-package-json.js
        working-directory: crates/wasm
      - name: Run tests
        run: npm test
        working-directory: crates/wasm/tests
      - name: Publish to npm
        run: npm publish --access public --provenance
        working-directory: crates/wasm/pkg
